

<div class="row welcome_message img-rounded">
<div class="col-md-10 col-md-offset-1">
	<h1><strong>Welcome to the loop!</strong></h1>
<h2>a mentorship program for  <br> New Jersey's women in web development</h2>
<div class="col-md-6 col-md-offset-3 text-center">
<br>
<button class="btn btn-login round" id="login"><i class="fa fa-github"></i> | Log In With GitHub</button>
</div>
</div>
</div>

